<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{modalVm.title}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-2">
                <img class="img-responsive" ng-src="{{modalVm.thumbnailUrl}}">
            </div>
            <div class="col-xs-10">
                <p>
                    <div ng-show="modalVm.description">
                        Description: {{modalVm.description}}
                    </div>
                </p>
                <p>
                    <input type="text" class="form-control" ng-model="description">
                    <button type="button" class="btn btn-primary" ng-click="modalVm.addDescription(modalVm.id, description)">Add Description</button>
                </p>
            </div>
        </div>
    </div>
</div>
